<h1>Meetings</h1>
<% if not params[:page].nil? %>
	Page <%= params[:page] %>
<% else %>
	Page 1
<% end %>

<table>
  <tr>
    <th>Meeting date</th>
    <th>Description</th>
    <th>Mandatory?</th>
    <th>Did You Attend?</th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td class="meeting_date"><%= meeting.meeting_date %></td>
    <td class="meeting_description"><%= meeting.description %></td>
		<td class="meeting_mandatory"><%= if meeting.mandatory then 'Yes' else 'No' end %></td>
		<td class="meeting_attend"><%= if (current_user.attendances.find_by_meeting_id meeting.id).present then 'Yes' else 'No' end %></td> 
  </tr>
<% end %>
</table>

<br />

