<h1>Meetings</h1>
<% if not params[:page].nil? %>
	Page <%= params[:page] %>
<% else %>
	Page 1
<% end %>

<table>
  <tr>
    <th>Meeting date</th>
    <th>Description</th>
    <th>Mandatory?</th>
    <th>Did You Attend?</th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.meeting_date %></td>
    <td><%= meeting.description %></td>
		<td><%= if meeting.mandatory then 'Yes' else 'No' end %></td>
		<td><%= if (@user.attendances.find_by meeting_id: meeting.id).present then 'Yes' else 'No' end %></td> 
  </tr>
<% end %>
</table>

<br />

