<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.first_name %>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
<% if @user.events.empty? %>
	<b> You are not currently signed up for any events. </b>
<% else %>
  <b>Events:</b>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Event date</th>
      <th>Confirmed?</th>
    </tr>

  <% @user.signups.each do |signup| %>
    <tr>
      <td class="event_title"><%= link_to signup.event.title, signup.event %></td>
      <td><%= signup.event.description %></td>
      <td class="event_date"><%= signup.event.event_date %></td>
      <% if signup.confirmed %>
        <td> Yes </td>
      <% else %>
        <td> No </td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<br>
<%= link_to 'Edit My Info', edit_user_path(@user) %>
