<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.first_name %>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
<% if @user.events.empty? %>
	<b> You are not currently signed up for any events. </b>
<% else %>
  <b>Events:</b>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Event date</th>
    </tr>

  <% @user.events.each do |event| %>
    <tr>
      <td class="event_title"><%= link_to event.title, event %></td>
      <td><%= event.description %></td>
      <td class="event_date"><%= event.event_date %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<p>
<%= link_to 'Edit My Info', edit_user_path(@user) %>
