<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.full_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>ID:</b>
  <%= @user.school_id %>
</p>

<p>
  <b> Confirmed Credits: </b>
  <% confirmed_credits = 0.0 %>
  <% @user.signups.each do |signup| %>
    <% if signup.confirmed then confirmed_credits += signup.credits_earned end %>
  <% end %>
  <%= confirmed_credits %>
  <br>

  <b> Pending Credits: </b>
  <% pending_credits = 0.0 %>
  <% @user.signups.each do |signup| %>
    <% if not signup.confirmed then pending_credits += signup.credits_earned end %>
  <% end %>
  <%= pending_credits %>
  <br>

  <b> Total Credits: </b>
  <%= (pending_credits + confirmed_credits) %>
  <br>
<p>
<% if @user.events.empty? %>
	<b> You are not currently signed up for any events. </b>
<% else %>
  <b>Events:</b>
  <table>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Credits</th>
      <th>Confirmed?</th>
    </tr>

  <% @user.signups.each do |signup| %>
    <tr>
      <td class="event_title"><%= link_to signup.event.title, signup.event %></td>
      <td class="event_date"><%= signup.event.event_date %></td>
      <td class="event_time"><%= signup.event.start_time.strftime("%l:%m %p") %></td>
      <td class="event_time"><%= signup.event.end_time.strftime("%l:%m %p") %></td>
			<td class="event_credits"><%= signup.credits %></td>
      <% if signup.confirmed %>
        <td> Yes </td>
      <% else %>
        <td> No </td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>
</p>

<br>
<%= link_to 'Edit My Info', edit_user_path(@user) %>
