<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.first_name %>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Events:</b>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Event date</th>
    </tr>

  <% @user.events.each do |event| %>
    <tr>
      <td><%= link_to event.title, event %></td>
      <td><%= event.description %></td>
      <td><%= event.event_date %></td>
    </tr>
  <% end %>
  </table>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
