<h2>Events</h2>
<% if not params[:page].nil? %>
	Page <%= params[:page] %>
<% else %>
	Page 1
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Credits</th>
	<th>Spots Left</th>
    <th>Event Date</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td class="event_title"><%= link_to event.title, event %></td>
    <td><%= event.description %></td>
    <td><%= event.credits %>
	<td class="event_count"><%= event.slots_left %>/<%= event.max_slots %></td>
    <td class="event_date"><%= event.event_date %></td>
    <td><%= event.start_time.strftime("%l:%m %p") %></td>
    <td><%= event.end_time.strftime("%l:%m %p") %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @events %>

