<h2>Events</h2>
<ul class="pagination">
	<%= will_paginate @events, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
</ul>
<style>
	.table {	table-layout: fixed; }
	.table th, .table td { text-align: center; }
	.table_nonfluid { width: auto; }
</style>
<table class="table table-condensed table-bordered table-responsive table-nonfluid">
	<thead>
		<tr>
			<th style="width: 35%">Title</th>
			<th style="width: 20%">Event Date</th>
			<th style="width: 15%">Start Time</th>
			<th style="width: 15%">End Time</th>
			<th style="width: 12%">Credits</th>
			<th style="width: 13%">Spots Left</th>
		</tr>
	</thead>
	<tbody>
		<% @events.each do |event| %>
			<tr>
			<td><%= link_to event.title, event %></td>
			<td><%= event.event_date %></td>
			<td><%= event.start_time.strftime("%l:%m %p") %></td>
			<td><%= event.end_time.strftime("%l:%m %p") %></td>
			<td><%= event.credits %>
			<td><%= event.slots_left %>/<%= event.max_slots %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br />

