<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Credits:</b>
  <%= @event.credits %>
</p>

<p>
  <b>Spots remaining:</b>
	<%= @event.slots_left %> / <%= @event.max_slots %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date.strftime("%A, %B #{@event.event_date.day.ordinalize}, %Y") %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time.strftime("%l:%M %P") %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time.strftime("%l:%M %P") %>
</p>

<p>
  <b>Back out deadline:</b>
  <%= @event.deadline.strftime("%A, %B #{@event.deadline.day.ordinalize}, %Y") %>
</p>

<p>
	<% if @event.users.empty? %>
		<b>No users are signed up yet.</b>
	<% else %>
		<b>Currently signed up: </b><p>
  	<% @event.users.each do |user| %>
  	  <%= user.full_name %>
      <br>
  	<% end %>
	<% end %>
</p>

<% if @event.users.include? current_user %>
	<%= link_to 'Remove myself from this event', "/events/#{@event.id}/signdown" %>
<% else %>
	<%= link_to 'Sign up for this', "/events/#{@event.id}/signup" %>
<% end %>
 | <%= link_to 'Back', events_path %>
