<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Max slots:</b>
  <%= @event.max_slots %>
</p>

<p>
  <b>Event date:</b>
  <%= @event.event_date %>
</p>

<p>
  <b>Signup expire:</b>
  <%= @event.signup_expire %>
</p>

<p>
	<% if @event.users.empty? %>
		<b>No users are signed up yet.</b>
	<% else %>
		<b>Currently signed up: </b><p>
  	<% @event.users.each do |user| %>
  	  <%= user.email %>
  	<% end %>
	<% end %>
</p>

<% if @event.users.include? current_user %>
	<%= link_to 'Remove myself from this event', "/events/#{@event.id}/signdown" %>
<% else %>
	<%= link_to 'Sign up for this', "/events/#{@event.id}/signup" %>
<% end %>
<%= link_to 'Back', events_path %>
