<!DOCTYPE html>
<html>
<head>
  <title>EventThing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
    Signed in as
  <%= link_to(current_user.first_name, user_path(current_user), :method => :get) %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<%else%>
    <%= link_to('Sign in', new_user_session_path) %>
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
