<!DOCTYPE html>
<html>
<head>
  <title>Robostangs Outreach</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class ="container" >
		<div class = "row" >
			<div class = "span10">
				<% if user_signed_in? %>
				  Signed in as
				  <%= link_to(current_user.full_name, user_path(current_user), :method => :get) %> |
					<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
					<%= link_to('Home', events_path) %>
				<%else%>
				  <%= link_to('Sign in', new_user_session_path) %>
				<% end %>
				<p class="notice"><%= flash[:notice] %></p>
				<p class="error"><%= flash[:error] %></p>
			</div>
		</div>
	</div>

	<br>
	<div style="width: 1024px; margin-left:auto; margin-right:auto" >
		<%= yield %>
	</div>

	<div style="position: fixed; bottom: 0; width:100%; text-align: right; color:#AAA;">Anakin Skywalker</div>
</body>
</html>
